RewriteEngine on
Options -MultiViews
RewriteEngine On
RewriteBase /

# Redirect all requests to index.html for React Router to handle
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.html [L]
RewriteCond %{HTTPS} off
RewriteCond %{HTTP:X-Forwarded-SSL} !on
RewriteCond %{HTTP_HOST} ^fsecurity\.cloud$ [OR]
RewriteCond %{HTTP_HOST} ^www\.fsecurity\.cloud$
RewriteRule ^(.*)$ "https\:\/\/www\.fsecurity\.cloud\/$1" [R=301,L]

